<!DOCTYPE html>
<!------------------------------------ base site ---------------------------------------->
{% extends 'base_site.html' %}
{% block content %}
<!------------------------------------------------------------------------------------->
<html>
<head>
	<title>Our Development Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
	<link rel="stylesheet" href="{% static 'noxusProject/contact_style.css' %}">
</head>
<body>
  
  <section class="team-section">
     <div class="container">
         <div class="row">
             <div class="section-title">
                 <h1>Our Development Team</h1>
                 <p>With your hand will Noxus rise!</p>
             </div>
         </div>
         <div class="row">
             <div class="team-items">
                  <div class="item">
                      <img src="https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.0-9/18581745_1395002980591971_2947919239252570452_n.jpg?_nc_cat=108&ccb=2&_nc_sid=a4a2d7&_nc_eui2=AeEwjYUQiKnTz4kT6WvqDmrEnXs4m01_HXKdezibTX8dcissAKHNUefJSeC5ziqpNgTY14CnUone4l705l0LmTLZ&_nc_ohc=4K6g9ltv0boAX8g-l7s&_nc_oc=AQkkJwhbgwoQcfTpDykzkvkWr_M9X-15DJSqYl7aCn4wkl6uGlEYsFPS9jrAN8RmHgY&_nc_ht=scontent.fbkk22-1.fna&oh=9d063e0a385a172e67195615d29bb344&oe=5FD8284A" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Phumrapee</h5>
                               <p>FRONT END</p>
                               <div class="social-links">
                                   <a href=""><span class="fa fa-facebook"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <img src="https://scontent.fbkk22-2.fna.fbcdn.net/v/t1.0-9/13921179_1106318722756564_413299740713362529_n.jpg?_nc_cat=107&ccb=2&_nc_sid=a4a2d7&_nc_eui2=AeFR4P788VWvOjDFuE0hm3PkH4yJQIERaUcfjIlAgRFpRy581vdVSzOSgmD6F_Hqwi_88pBosrfj5EqmynGi2bCQ&_nc_ohc=oDbIMVOnGK8AX-C0uO9&_nc_ht=scontent.fbkk22-2.fna&oh=15d2758425e943425dc357e82a173adc&oe=5FD83284" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Thornthep </h5>
                               <p>BACK END</p>
                               <div class="social-links">
                                   <a href=""><span class="fa fa-facebook"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <img src="https://scontent.fbkk22-3.fna.fbcdn.net/v/t31.0-8/22861715_1440318056005679_9086667028510579705_o.jpg?_nc_cat=103&ccb=2&_nc_sid=174925&_nc_eui2=AeFjecagfNpiFlLbQbR9eCQ5e96ChsSLI1p73oKGxIsjWuOYL1zLGvwpYzjGMcLw7SN85Lrcq18Q7hWyoJj8zXpf&_nc_ohc=6xp1ppP3HiEAX_UIAY8&_nc_ht=scontent.fbkk22-3.fna&oh=70823c8675c4a0ede98fd360994d016f&oe=5FD8BEFB" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Sahanon</h5>
                               <p>BACK END</p>
                               <div class="social-links">
                                   <a href=""><span class="fa fa-facebook"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <img src="https://scontent.fbkk22-3.fna.fbcdn.net/v/t1.0-9/60362220_10205902406757485_7822542773654913024_o.jpg?_nc_cat=103&ccb=2&_nc_sid=0debeb&_nc_eui2=AeENIeaeqNRfdVy2Fk05H8SLbpo20KipaaFumjbQqKlpoWHzu092zpliJVLj_jvGOe0nqzXLIotdk5X7NOzGaoz-&_nc_ohc=Qj4bARibKEIAX_RMyCa&_nc_ht=scontent.fbkk22-3.fna&oh=af4b6d4e76a7e86a2d2d48a892f6e532&oe=5FD938FA" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Sorawichaya</h5>
                               <p>FRONT END</p>
                               <div class="social-links">
                                   <a href=""><span class="fa fa-facebook"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                    <img src="https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.0-9/56173183_2340494792647531_2590279357285007360_o.jpg?_nc_cat=100&ccb=2&_nc_sid=174925&_nc_eui2=AeFjzd9rDh_o275w3C9FMa6KDYHOdgBrr1cNgc52AGuvV331VLwGlrg-Gzx_nDlE39sZUbCkKhVrdbsDmZUSwf43&_nc_ohc=DGTAHkXoJeoAX8yEMSL&_nc_ht=scontent.fbkk22-1.fna&oh=c9d50a3c9f65398bc06a018381e7aa41&oe=5FD945CC" alt="team" />
                    <div class="inner">
                        <div class="info">
                             <h5>Potchara</h5>
                             <p>FRONT END</p>
                             <div class="social-links">
                                 <a href=""><span class="fa fa-facebook"></span></a>
                             </div>
                      </div>
                    </div>
                </div>
             </div>
         </div>
     </div>
  </section>
</body>
</html>
<!------------------------------------ base site ---------------------------------------->
{% endblock %}  
<!------------------------------------------------------------------------------------->
