<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>contact us form</title>
        <link rel="stylesheet" href="contact_style.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body> 
        <section>
        <div class="center">
            <input type="checkbox" id="show">
            <label for="show" class="show-btn">Contact us</label>
            <div class="container">
                <label for="show" class="close-btn fas fa-times"></label>
                <div class="text">Contact us</div>
                <form action= "#">
                    <div class="data">
                        <label>Email</label>
                        <input type="text" required>
                    </div>
                    <div class="data">
                        <label>Message</label>
                        <textarea  name="message" id="message" cols="30" rows="2" required></textarea>
                    </div>
                    <div class="btn">
                        <div class="inner"></div>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>
